<div class='container'>

    <main>
        <img
            src='https://cdn.dribbble.com/users/2071065/screenshots/6591372/dribble_5-03_4x.png?compress=1&resize=1200x900'
            alt='sad face'
            width='auto'
            height='500px'
            style='text-align:center;'
        />
        <h5>You need to sign in</h5>
        <h6><a href='/login-user'>Login Here</a></h6>
    </main>
</div>